

    <%- include('./partials/Header.ejs'); %>
    <!-- https://cdn.chinadialogue.net/content/uploads/2020/05/20092643/KYDFGW_web_size.jpg -->
    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Contact Us</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active"> Contact Us </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start Contact Us  -->
    <div class="contact-box-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-12">
                    <div class="contact-form-right">
                        <h2>GET IN TOUCH</h2>
                        <form id="contactForm">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="name" name="name" placeholder="Your Name" required data-error="Please enter your name">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" placeholder="Your Email" id="email" class="form-control" name="name" required data-error="Please enter your email">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="subject" name="name" placeholder="Subject" required data-error="Please enter your Subject">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea class="form-control" id="message" placeholder="Your Message" rows="4" data-error="Write your message" required></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="submit-button text-center">
                                        <button class="btn hvr-hover" id="submit" type="submit">Send Message</button>
                                        <div id="msgSubmit" class="h3 text-center hidden"></div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
				<div class="col-lg-4 col-sm-12">
                    <div class="contact-info-left">
                        <h2>CONTACT INFO</h2>
                        <ul>
                            <li>
                                <p><i class="fas fa-map-marker-alt"></i>Address: No 18A Kwameh Nkrumah Crescent <br>Asokoro,<br>Nigeria </p>
                            </li>
                            <li>
                                <p><i class="fas fa-phone-square"></i>Phone: <a href="tel:+1-888705770">+234 902 199 0562</a></p>
                            </li>
                            <li>
                                <p><i class="fas fa-envelope"></i>Email: <a href="mailto:contactinfo@ulewepalmoil.com">contactinfo@ulewepalmoil.com</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Cart -->
    <!-- Start Instagram Feed  -->
    <div class="instagram-box">
        <div class="main-instagram owl-carousel owl-theme">
            <div class="item">
                <div class="ins-inner-box">
                    <img style="height: 270px;" src="https://www.foodbev.com/wp-content/uploads/2018/02/Palm-Oil.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img  style="height: 270px;" src="https://www.foodprocessing-technology.com/wp-content/uploads/sites/19/2019/03/palm-3001220_1920.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
  
            <div class="item">
              <div class="ins-inner-box">
                  <img  style="height: 270px;" src="https://www.wwf.org.uk/sites/default/files/styles/hero_s/public/2020-01/palm_fruit.jpg?h=c3635fa2&itok=Vvprz6Ij" alt="" />
                  <div class="hov-in">
                      <a href="#"><i class="fab fa-instagram"></i></a>
                  </div>
              </div>
          </div>
            <div class="item">
              <div class="ins-inner-box">
                  <img  style="height: 270px;" src="https://businessday.ng/wp-content/uploads/2017/04/palm-oil--595x430.jpg" alt="" />
                  <div class="hov-in">
                      <a href="#"><i class="fab fa-instagram"></i></a>
                  </div>
              </div>
          </div>
          <div class="item">
              <div class="ins-inner-box">
                  <img  style="height: 270px;" src="https://leadership.ng/wp-content/uploads/2018/03/e619d780-palm-fruit.jpg" alt="" />
                  <div class="hov-in">
                      <a href="#"><i class="fab fa-instagram"></i></a>
                  </div>
              </div>
          </div>
          <div class="item">
              <div class="ins-inner-box">
                  <img  style="height: 270px;" src="https://cdn.chinadialogue.net/content/uploads/2020/05/20092643/KYDFGW_web_size.jpg" alt="" />
                  <div class="hov-in">
                      <a href="#"><i class="fab fa-instagram"></i></a>
                  </div>
              </div>
          </div>
  
            <!-- <div class="item">
                <div class="ins-inner-box">
                    <img src="images/instagram-img-07.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="images/instagram-img-08.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="images/instagram-img-09.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="images/instagram-img-05.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    <!-- End Instagram Feed  -->


    <%- include('./partials/Footer.ejs'); %>
